# Virtualenv
venv/

# PyCharm
.idea/

# Pycache
*/__pycache__/
*.pyc

# Static files & media & migrations
accounts/migrations/
contacts/migrations/
listings/migrations/
realtors/migrations/
pages/migrations/
realestate/local_settings.py
static/
media/
screenshots/
